table {
  color: #333;
  border: solid #777;
  border-width: 1pt 1pt 1pt 1pt;
  border-spacing: 0;
  margin: 60px auto; 
  
  padding: 20px 20px 20px 20px;
}
td, th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
}
th {
  font-weight: bold;
  background-color: #4CAF50;
    color: white;
}
td {
  text-align: center;
  padding: 20px 20px 20px 20px;
}
tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }
tr td:hover { background: #777; color: #FFF; }

